<div class="jumbotron">
    <lottoheading></lottoheading>
</div>
<div class="row">
    
    <div class="col-sm-4 col-sm-offset-4">
        <lottomenu></lottomenu>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" ng-click="getDrawsSmart()" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Trekninger <span class="caret"></span>
            </button>
            <div class="container dropdown-menu" role="menu" style="width: 300px; padding: 0px;" >
                <div class="row" style="width: 100%; height: 100%; margin: 0px; padding:0px;" >
                    <div class="col-md-6" style="margin: 0px; padding:0px; border: 0px; height: 200px; overflow: auto;" id="aarstallrow">
                        <div class="panel panel-success" style="margin: 0px;" >
                            <div class="panel-heading" >Årstall</div>
                            <ul ng-repeat="(year, data) in smartdraws.tuneddraws" class="list-group">
                                <li ng-click="showYear(year, $event)" ng-class="{testAvTing: year == smartdraws.currentYear}" class="list-group-item">{{year}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding:0px; border: 0px; margin: 0px; height: 200px; overflow: auto;">
                        <div ng-repeat="(month, drawings) in smartdraws.tuneddraws[smartdraws.currentYear] | orderBy:month">
                            <div class="panel panel-default" style="margin: 0px;">
                                <div class="panel-heading">{{smartdraws.MONTH_TABLE[month - 1]}}</div>
                                <ul ng-repeat="draw in drawings | orderBy:draw" class="list-group">
                                    <li class="list-group-item">{{draw.date}}</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <!-- Button trigger modal -->
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Go modal!!!
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Go Modal Title!!!</h4>
                  </div>
                  <div class="modal-body">
                    Hell yeah!!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>Admin pages</h1>
        <button type="button" ng-click="retrieveLottoDrawings()" class="btn btn-success "> Oppdater trekninger </button>
        <button type="button" ng-click="getDraws()" class="btn btn-success "> Vis trekninger </button>
    </div>
    
    <div class="col-md-2 col-md-offset-4">
        <h4>Tilgjengelige trekninger</h4>
        <ul>
            <li ng-repeat="drawing in draws">
                <label>[{{drawing.id}}] Trekningdato {{drawing.drawDate}}</label>
                <button type="button" ng-click="$parent.getDrawDetails(drawing.id)" class="btn btn-success">Hent trekning</button>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        <div ng-hide="lotto.currentdraw == NULL">
            <p>Har vi data mon tro? {{lotto.currentdraw.id}}</p> 
            <ul>
                <li ng-repeat="winner in lotto.currentdraw.mainTable">{{winner}}</li>
            </ul>
            
        </div>
    </div>
</div>

