

    <div class="jumbotron">
        <h2>Sjefen!</h2>
        <p>
        Jeg er {{navn}} kongen. Jeg er {{alder}} år gammel!<br>
        Jeg bor i {{addresse}}<br>
        Dette er {{tull}}
        </p>
    </div>
    <div class="row">
        <div class="col-lg-4">
           
            <p>Dagens lottotall</p>
            <div>
                <div class="lotto winner">1</div>
                <div class="lotto winner">10</div>
                <div class="lotto winner">13</div>
                <div class="lotto winner">16</div>
                <div class="lotto winner">19</div>
                <div class="lotto winner">23</div>
                <div class="lotto addition">4</div>
                <div class="lotto addition">7</div>
                <div class="lotto addition">33</div>
            </div>
        </div>
        <div class="col-lg-4">
            <p>Test av nr 2</p>
        </div>
        <div class="col-lg-4">
             <p>Test av nr 3</p>
        </div>
    </div>
