<footer class="navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="kos row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <ul class="nav nav-pills">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Support 24x7</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4"></div>

        </div>
    </div>
</footer>

